# Task 02

# Import Necessary Libraries

In [44]:
import requests
import lxml.html as lh
import pandas as pd
import numpy as np

# Scrape and Store Table into DataFrame

In [45]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)
df = df[0]
print(len(df))
df.head()

288

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

## Assigning Neighbourhood same as Borough if Neighbourhood is 'Not Assigned'

In [46]:
for x in range(len(df)):
    if df['Borough'][x]!='Not assigned' and df['Neighbourhood'][x]=='Not assigned':
        df['Neighbourhood'][x] = df['Borough'][x]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

## Removing Rows with both Borough and Neighourhood as 'Not Assigned'

In [47]:
df = df[(df['Borough'] != 'Not assigned')]
df.reset_index(drop = True)
len(df)

211

# Merge Neighbourhoods of Duplicate Borough

In [48]:
df.groupby(['Postcode','Borough','Neighbourhood']).count()

Empty DataFrame
Columns: []
Index: [(M1B, Scarborough, Malvern), (M1B, Scarborough, Rouge), (M1C, Scarborough, Highland Creek), (M1C, Scarborough, Port Union), (M1C, Scarborough, Rouge Hill), (M1E, Scarborough, Guildwood), (M1E, Scarborough, Morningside), (M1E, Scarborough, West Hill), (M1G, Scarborough, Woburn), (M1H, Scarborough, Cedarbrae), (M1J, Scarborough, Scarborough Village), (M1K, Scarborough, East Birchmount Park), (M1K, Scarborough, Ionview), (M1K, Scarborough, Kennedy Park), (M1L, Scarborough, Clairlea), (M1L, Scarborough, Golden Mile), (M1L, Scarborough, Oakridge), (M1M, Scarborough, Cliffcrest), (M1M, Scarborough, Cliffside), (M1M, Scarborough, Scarborough Village West), (M1N, Scarborough, Birch Cliff), (M1N, Scarborough, Cliffside West), (M1P, Scarborough, Dorset Park), (M1P, Scarborough, Scarborough Town Centre), (M1P, Scarborough, Wexford Heights), (M1R, Scarborough, Maryvale), (M1R, Scarborough, Wexford), (M1S, Scarborough, Agincourt), (M1T, Scarborough, Clarks Corners), (M1T, Scarborough, Sullivan), (M1T, Scarborough, Tam O'Shanter), (M1V, Scarborough, Agincourt North), (M1V, Scarborough, L'Amoreaux East), (M1V, Scarborough, Milliken), (M1V, Scarborough, Steeles East), (M1W, Scarborough, L'Amoreaux West), (M1X, Scarborough, Upper Rouge), (M2H, North York, Hillcrest Village), (M2J, North York, Fairview), (M2J, North York, Henry Farm), (M2J, North York, Oriole), (M2K, North York, Bayview Village), (M2L, North York, Silver Hills), (M2L, North York, York Mills), (M2M, North York, Newtonbrook), (M2M, North York, Willowdale), (M2N, North York, Willowdale South), (M2P, North York, York Mills West), (M2R, North York, Willowdale West), (M3A, North York, Parkwoods), (M3B, North York, Don Mills North), (M3C, North York, Don Mills South), (M3C, North York, Flemingdon Park), (M3H, North York, Bathurst Manor), (M3H, North York, Downsview North), (M3H, North York, Wilson Heights), (M3J, North York, Northwood Park), (M3J, North York, York University), (M3K, North York, CFB Toronto), (M3K, North York, Downsview East), (M3L, North York, Downsview West), (M3M, North York, Downsview Central), (M3N, North York, Downsview Northwest), (M4A, North York, Victoria Village), (M4B, East York, Parkview Hill), (M4B, East York, Woodbine Gardens), (M4C, East York, Woodbine Heights), (M4E, East Toronto, The Beaches), (M4G, East York, Leaside), (M4H, East York, Thorncliffe Park), (M4J, East York, East Toronto), (M4K, East Toronto, Riverdale), (M4K, East Toronto, The Danforth West), (M4L, East Toronto, India Bazaar), (M4L, East Toronto, The Beaches West), (M4M, East Toronto, Studio District), (M4N, Central Toronto, Lawrence Park), (M4P, Central Toronto, Davisville North), (M4R, Central Toronto, North Toronto West), (M4S, Central Toronto, Davisville), (M4T, Central Toronto, Moore Park), (M4T, Central Toronto, Summerhill East), (M4V, Central Toronto, Deer Park), (M4V, Central Toronto, Forest Hill SE), (M4V, Central Toronto, Rathnelly), (M4V, Central Toronto, South Hill), (M4V, Central Toronto, Summerhill West), (M4W, Downtown Toronto, Rosedale), (M4X, Downtown Toronto, Cabbagetown), (M4X, Downtown Toronto, St. James Town), (M4Y, Downtown Toronto, Church and Wellesley), (M5A, Downtown Toronto, Harbourfront), (M5A, Downtown Toronto, Regent Park), (M5B, Downtown Toronto, Garden District), (M5B, Downtown Toronto, Ryerson), (M5C, Downtown Toronto, St. James Town), (M5E, Downtown Toronto, Berczy Park), (M5G, Downtown Toronto, Central Bay Street), (M5H, Downtown Toronto, Adelaide), (M5H, Downtown Toronto, King), ...]

[211 rows x 0 columns]

In [49]:
df=df.groupby("Postcode").agg(lambda x:','.join(set(x)))

In [50]:
df.shape

(103, 2)

# Task - 02

In [51]:
df_task_02 = pd.read_csv('Geospatial_Coordinates.csv')
df_task_02.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [52]:
for i in range(len(df)):
    if df.index[i] == df_task_02['Postal Code'][i]:
        df['Latitude'] = df_task_02['Latitude'][i]
        df['Longitude'] = df_task_02['Longitude'][i]

In [53]:
df.head()

,Borough,Neighbourhood,Latitude,Longitude
Postcode,,,,
M1B,Scarborough,"Malvern,Rouge",43.706748,-79.594054
M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.706748,-79.594054
M1E,Scarborough,"Morningside,Guildwood,West Hill",43.706748,-79.594054
M1G,Scarborough,Woburn,43.706748,-79.594054
M1H,Scarborough,Cedarbrae,43.706748,-79.594054